<div class="col-lg-12">
  <h3>LISTADO</h3>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>Nombre</th>
        <th>Año</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let n of numbers; let i = index">
        <td>Oso {{i+ 1}}</td>
        <td>2012</td>
        <td>
          <button class="bttn btn-sm btn-success" type="button" name="button">
            <span class="glyphicon glyphicon-eye-open "></span> VER
          </button>
          <button class="bttn btn-sm btn-primary" type="button" name="button">
            <span class="glyphicon glyphicon-pencil "></span> EDITAR
          </button>
          <button class="bttn btn-sm btn-danger" type="button" name="button">
            <span class="glyphicon glyphicon-trash "></span> ELIMINAR
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
