<div class="col-lg-6">
  <h1>{{title}}</h1>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-10">
    <p>
    <label for="">Nombre</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-controller" required>
    <span *ngIf="!name.valid && name.touched">
    El nombre es obligatorio
    </span>
    </p>
    <p>
    <label for="">Apellidos</label>
    <input type="text" name="surname"  #surname="ngModel" [(ngModel)]="user.surname" class="form-controller" required>
    <span *ngIf="!surname.valid && surname.touched">
    El apellido es obligatorio
    </span>
    </p>
    <p>
    <label for="">Correo Electronico</label>
    <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-controller" required>
    <span *ngIf="!email.valid && email.touched">
    El correo es obligatorio
    </span>
    </p>
    <p>
    <label for="">Contraseña</label>
    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-controller" required>
    <span *ngIf="!password.valid && password.touched">
    la contraseña es obligatorio
    </span>
    </p>
    <input type="submit"  value="Registro" class="btn btn-primary" [disabled]="!registerForm.form.valid">
  </form>
</div>
