<div class="col-lg-4">
  <div class="sidebar-admin" data-example-id="sample-nav-stacked">
    <ul class="nav nav-pills nav-stacked nav-pill-stacked-example">
      <li class="col-lg-12" role="presentation" [routerLinkActive]="['active']">
          <a [routerLink]= "['listado']">Listado</a>
      </li>
      <li class="col-lg-12" role="presentation" [routerLinkActive]="['active']">
          <a [routerLink]= "['crear']">Crear</a>
      </li>
      <li class="col-lg-12" role="presentation" [routerLinkActive]="['active']">
          <a [routerLink]= "['editar']">Informacion</a>
      </li>
    </ul>
  </div>
</div>
<div class="col-lg-8">
<router-outlet></router-outlet>
</div>
