<p>
  mostrar-email works!
</p>
  <span *ngIf="emailContacto">email contacto <strong>{{emailContacto}}</strong>
    <button type="button" name="button" class="btn btn-primary" (click)=borrarEmailLocal()>Borra email</button>
  </span>
  <button type="button" name="button" class="btn btn-primary" (click)=vaciarLocalStorge()>vaciar local storage</button>
