<h2>{{nombre}}</h2>

<ol>
  <li><strong>metros</strong>{{metros}}</li>
  <li><strong>vegetacion</strong>{{vegetacion}}</li>
  <li>
    <span>
      <div>{{abierto ? 'Abierto' : 'Cerrado'}}</div>
    </span>
  </li>
</ol>
<button type="button" name="button" (click)="emitirEvento()">Mostrat en el padre</button>
