<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/home']" class="navbar-brand">ZOO</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/home']"  [routerLinkActive]="['active']">  <span class="glyphicon glyphicon-home"></span> INICIO</a>
        </li>
        <li><a [routerLink]="['/animales']"  [routerLinkActive]="['active']">ANIMALES</a></li>
        <li><a [routerLink]="['/cuidadores']"  [routerLinkActive]="['active']">CUIDADORES</a></li>
        <li><a [routerLink]="['/tienda']"  [routerLinkActive]="['active']">TIENDA</a></li>
        <li><a [routerLink]="['/contacto']"  [routerLinkActive]="['active']">CONTACTO</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['registro']">
           <span class="glyphicon glyphicon-user"></span> Registro</a>
        </li>
        <li>
          <a [routerLink]="['login']">
           <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
