<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-7">
<p>
  <label>Correo</label>
  <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
</p>
<p>
  <label>Contraseña</label>
  <input type="password" name="password" #password [(ngModel)]="user.password" class="form-control" required>
</p>
<input type="submit" name="entrar" value="ENTRAR" class="btn btn-success">
</form>
