<h3>CREAR</h3>
<form>
  <p>
    <label for="">NOMBRE</label>
    <input type="text" class="form-control">
  </p>
  <p>
    <label for="">DESCRIPCION</label>
    <<textarea class="form-control" name="name" rows="8" cols="80"></textarea> t
  </p>
  <p>
    <label for="">AÑO</label>
    <input type="text" class="form-control">
  </p>
  <input type="submit"  value="CREAR" class="btn btn-success">
</form>
